.container {
 display: flex;
 align-items: center;
 gap: 100px;
}

.title{
 text-align: center;
}

.imgContainer {
 flex: 1;
 height: 500px;
 position: relative;
}

.img {
 object-fit: contain;
}

.textContainer {
 flex: 1;
}

.subtitle{
  text-align: center;
  margin-top: 20px;
}

.subtitle >span{
  font-weight: 300;
  color: rgb(46, 118, 182);
}

.connectLinks{
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 16px;
 margin-top: 20px;
}

.link{
  width: 40px;
  height: 40px;
  border-radius: 15%;
}

@media (max-width: 768px) {
 .container {
  flex-direction: column;
 }
}
