.form{
 display: flex;
 flex-direction: column;
 text-align: center;
 gap: 30px;
}

.form input{
 padding: 20px;
 border: none;
 border-radius: 5px;
}

.form textarea{
 padding: 20px;
 border: none;
 border-radius: 5px;
}
